{% extends 'base.html.twig' %}

{% block title %}Rapid Control
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-6">
			<h1>Trouver rapidement un centre de contrôle technique agréé près de chez vous</h1>
		</div>
		<div class="col-lg-4">
			<img src="https://via.placeholder.com/200x300" alt="">
		</div>
	</div>
{% endblock %}
